<header>
  <div class="header-upper">
    <ul class="container">
      <li>
        <a>Dealers and Distributors</a>
      </li>
      <li>
        <a>Commercial Service <i class="material-icons">launch</i></a>
      </li>
    </ul>
  </div>
  <div class="header-lower">

    <div class="header-lower__logo">
      <img src="/assets/images/pool-pros-logo.png" alt="">
    </div>

    <ul class="header-lower__nav">
      <li>Pools & Spas </li>
      <li>Supplies</li>
      <li>Resources</li>
      <li>Services</li>
    </ul>

      <button mat-raised-button 
        class="header-lower__button button-border--blue"
        ><i class="material-icons">location_on</i> Find a Pool Pro
      </button>

    <ul></ul>
  </div>
</header>
