$blue : #083d8c;
$light-blue: #216ddf;

footer{
    .footer-upper{
        background:$blue;
        padding:20px;
    }
    .footer-lower{
        background:$light-blue;
        padding:20px;
        font-size: 12px;
        color:white;
        .show-xs{
            padding:10px;
            margin-bottom: 10px;
            border-bottom:1px solid white;
            i{
                font-size: 12px;
            }
        }
    }
}