/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// VARIABLES
$blue: #083d8c;
$light-blue: #02c7c6;

// RESET
body{
    padding:0px;
    margin:0px;
    font-family: 'Open Sans', sans-serif;
}
ul{
    margin:0px;
    padding:0px;
    list-style: none;
    li{
        display: inline-block;
        margin:0px 10px;
    }
}
input{
    outline:none;
}
.mat-dialog-container{
    padding:0px !important;
}
.mat-checkbox-checked.mat-primary .mat-checkbox-background{
    background: $blue;
}

//DEFAULTS
main{
    min-height:100vh;
    padding-top:120px;
}
.container{
    padding: 0px 40px;
}
.text{
    &--center{
        text-align: center;
    }
    &--blue{
        color:$blue
    }
    &--italic{
        font-style: italic;
    }
    &--bold{
        font-weight: bold;
    }
}
.button-border{
    &--blue{
        border:2px solid $blue !important;
        box-shadow: none !important;
        color: $blue !important;
        font-weight: bold;
        i{
            font-size: 16px;
            margin-right: 10px;
            margin-top: -2px;
        }
    }
    &--lightblue{
        border:2px solid $light-blue !important;
        box-shadow: none !important;
    }
}